<div class="row">
  <%= render 'sidebar', user: @user, new_book: @new_book %>
  <section class="lists col-md-8 offset-md-1">
    <h2>Users</h2>
    <table class="table">
      <tbody>
        <tr>
          <th>image</th><th colspan="2">name</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(80, 80) %>
            </td>
            <td>
              <span><%= user.name %></span>
            </td>
            <td>
              <%= link_to "Show", user_path(user) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
