<h1>welcome to<strong><span><i></i>Bookers</span></strong> !!</h1>
<p>In <strong><span><i></i>Bookers</span></strong>, <br>
you can share and exchange your opinions, inpressions, and emotions<br>
about various books!</p>

<%= link_to new_user_session_path do %>
  <div class="login-button">Log in</div>
<% end %>
<%= link_to new_user_registration_path do %>
  <div class="signup-button">Sign up</div>
<% end %>


